body {
  font-family: 'bitter', sans-serif;
  --MenuBarHeight: 99px;
}

.Home {
  text-align: center;
  background: url(./images/bg-breeze.jpg);
  background-size: cover;
  background-position: 50% 50%;
  color: rgba(255, 255, 255, 0.7);
}
.Home .hero {
  box-sizing: border-box;
  height: calc((var(--vh, 1vh) * 100));
  padding-top: 6rem;
  background: rgba(0, 0, 0, 0.15);
}
.Home .hero-body {
  padding: 0 2rem;
}
.Home h1 {
  letter-spacing: -1px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 0.4em;
  margin-bottom: 0.25em;
}
.Home .login {
  position: relative;
  top: 48vh;
  border-radius: 5px;
  font-size: 0.75rem;
  padding-left: 5em;
  padding-right: 5em;
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.9);
}

.Calendars.calendar {
  box-sizing: border-box;
  border: none;
  height: calc((var(--vh, 1vh) * 100));
}
.Calendars .calendar-nav {
  background: none;
  padding: 0.8rem 0.4rem 0.6rem 0.4rem;
}
.Calendars .calendar-header {
  background: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.Calendars .calendar-container {
  height: calc(100% - var(--MenuBarHeight));
}
.Calendars .calendar-body {
  /* calendar-nav: 68px, calendar-header: 46px */
  height: calc(100% - 68px - 46px);
  justify-content: space-between;
  border-left: none;
  border-right: none;
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}
.Calendars .calendar-date {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.Calendars.calendar.calendar-lg .date-item {
  align-self: center;
}

.Calendars.calendar.calendar-lg .calendar-body .calendar-date {
  height: auto;
}

.MenuBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 0.05rem solid #dadee4;
}
.MenuBar .columns {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}
.MenuBar .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MenuBar .menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MenuBar .menu-item {
  width: 36px;
  fill: #707070;
}
.MenuBar .menu-title {
  display: block;
  padding-top: 0.4rem;
  text-align: center;
  font-size: 0.7rem;
  color: #606060;
}
.MenuBar .active {
  text-decoration: none;
}
.MenuBar .active .menu-item {
  fill: #5755d9 !important;
}
.MenuBar .active .menu-title {
  color: #5755d9 !important;
}

.NotFound {
  height: calc((var(--vh, 1vh) * 100) - var(--MenuBarHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NotFound .empty {
  background: none;
}

.About .content {
  padding: 2.5rem 2rem;
}

.NewItem .content {
  padding: 2.5rem 2rem;
}